/*
UDEMY - The Setup Course By Ehab Alaa
*/

/*-- General Styles --*/
body{
	font-family:'lato';
	color: #111;
	position: relative;
	overflow-x: hidden;
}

strong{
	font-weight: 900;
}

p{
	line-height: 24px;
	font-weight: 300px;
}

/* Anchors */
a,
a:focus{
	color: #873fb5;
}
a:hover{
	color: #41135f;
	text-decoration: none;
}

section{
	padding: 50px 0;
}

hr{
	width: 85px;
}

hr.icon:after{
	content: "\f123";
	font-family: 'FontAwesome';
	color: #873fb5;
	font-size: 1.5em;
	background-color: #fff;
	top:-0.8em;
	padding: .30em;
}


